#header {
  margin:auto;
  padding: 30px;
}

.button {
    background-color: #49c8f3; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }