{% extends "base.html"  %}
<!DOCTYPE html>
    <html lang="en">
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Realtime Map</title>
		<script type="text/javascript" {{ url_for('static', filename='scripts/flasktojs.js')}}></script>
	</head>
	
	<body>
		{% block content %}
		<div class="main">
			<div class="main_text">
				<h1><b>Real Time Map</b></h1>
				<p>Here you are able to interact with the map to locate our sensors and see real data in real time.</p>
			</div>
			<div style="width: 90%; height: 100%" id="mapContainer">
				<div id="map" style="height: 440px; border: 1px solid #AAA;">Test
					<script type="text/javascript">
						var sensor_list = {{ sensor_list|tojson|safe }};
						var sensor_data = {{ data|tojson|safe }};
						keys = Object.keys(sensor_list);

						console.log(sensor_data);

						var sensor_array = [];

						for (let i = 0; i < keys.length; i++) {
							var loc = sensor_list[keys[i].toString()];
							var lat = loc['geo']['lat'];
							var long = loc['geo']['lon'];
							
							if (typeof lat === typeof 42.361145 && typeof long === typeof 42.361145) {
								sensor_array.push([lat, long, sensor_data[keys[i]]]);
							};
						}
						
						console.log(sensor_array);
						var lat = 42.361145;
						var long =  -71.057083;
						var map = new L.map('map', {'zoomControl':false}).setView([42.35, -71.08], 13);
						

						// load a tile layer 
						L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
							{
							attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>, Data by <a href="http://mass.gov/mgis">MassGIS</a>',
							maxZoom: 17,
							minZoom: 9
							}).addTo(map);

						for (let i = 0; i < sensor_array.length; i++) {
							x = sensor_array[i][0];
							y = sensor_array[i][1];
							var circleMarker = L.circleMarker([x, y], {
								color: 'red',
								fillColor: '#f03',
								fillOpacity: 0.5,
								radius: 10
							}).addTo(map);
							var text = "PM1 in your area: " + sensor_array[i][2]['pm1'] + "<br>" +
									   "PM2.5 in your area: " + sensor_array[i][2]['pm25'] + "<br>" +
									   "PM10 in your area: " + sensor_array[i][2]['pm10'] + "<br>";
							addButtons(circleMarker, text);
						}

						function addButtons(map_object, text) {
							// Create button(s) for the marker popup
							btnDiv = document.createElement('div'); // Dom = document object model -- creates div html element
							exploreButton = createButton('Explore Data', btnDiv); // creates btn in container
							reportButton = createButton('View Report', btnDiv); // creates btn in container
							
							// Add HTML content to the div element
							btnDiv.innerHTML = text + '<br>'; // Inner html concatenates, to add more later use +=
							btnDiv.append(exploreButton);
							btnDiv.append(reportButton);

							map_object.bindPopup(btnDiv);

							L.DomEvent.on(exploreButton, 'click', function () {
							window.open(window.location + '/' + 'explore');
							});

							L.DomEvent.on(reportButton, 'click', function () {
								window.open(window.location + '/' + 'reports');
							});
						}

						function createButton(label, container) {
								var btn = L.DomUtil.create('button', '', container);
								btn.setAttribute('type', 'button');
								btn.innerHTML = label;
								return btn;
							}

						function onMapClick(e) {
							var popup = L.popup();
							
							popup
								.setLatLng(e.latlng)
								.setContent('You clicked the map')
								.openOn(map);
						}
						
						function revertUrl(e) {
							alert("reverting");
							window.open(window.location.slice(0, url.lastIndexOf('/')));
						}

						map.on('click', onMapClick);
						map.on('remove', revertUrl);
					</script>
				</div>
			</div>
			<br>
			<div></div>
		</div>
		
		{% endblock %}
	</body>
	
</html>
	

